@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap');
:root {
  --white: #f6f9fb;
  --logo-black: #403f3f;
  --grey-2: #bcb7b7;
  --orange: #c85036;
  --logo-blue: #1975bb;
  --light-orange: #f76045;
  --light-blue: #2fa5ff;

  /* FROM JOYNOB */
  --Ringside-Narrow: Ringside Narrow SSm A, Ringside Narrow SSm B;
  --Ringside-Compressed: Ringside Compressed SSm A, Ringside Compressed SSm B;
  --Ringside-Regular: Ringside Regular SSm A, Ringside Regular SSm B;
  --Obsidian: Obsidian;

  --Grey-title: #554c4c;
  --Blue-title: #1975bb;
  --Orange-title: #c85036;
  --Content-Black: #403f3f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif !important;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
/*================== NAVIGATION AND PAGINATION THINGS GOES HERE====================================== */
/* CSS for the global menu */
.global-menu-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
}

.gm-container__right {
  border-bottom: 1px solid var(--white);
}
.global-menu {
  width: 100%;
  background: var(--logo-black);
  color: var(--grey-2);
  display: flex;
  align-items: center;
  flex-wrap: nowrap !important;
  padding-left: 40px;
  justify-content: space-between;
}
.menu-text {
  width: auto !important;
}
.global-menu ul {
  width: auto !important;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}
.global-menu li {
  border-left: 1px solid var(--white);
}
.global-menu a {
  font-family: Ringside Regular SSm;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  color: var(--grey-2);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__num {
  color: var(--white);
  text-align: center;
  font-family: Ringside Regular SSm;
  font-size: 12px;
  font-weight: 350;
  line-height: 16px;
}

.global-menu .orange:hover .item__text {
  color: var(--light-orange);
  background-color: black;
}
.global-menu a.orange.active-link .item__text,
.navigation-menu a.active-link {
  color: var(--light-orange);
}
.global-menu a.orange.active-link .item__text {
  background-color: black;
}
.global-menu a.orange.active-link .item__num {
  background-color: var(--light-orange);
}
.global-menu a.blue:hover .item__text {
  color: var(--light-blue);
  background-color: black;
}
.global-menu a.blue.active-link .item__text {
  color: var(--light-blue);
  background-color: black;
}
.global-menu a.blue.active-link .item__num {
  background-color: var(--light-blue);
}
.item__text {
  background: transparent;
  padding: 10px 20px;
  border-bottom: 1px solid var(--white);
}
.item__num {
  background: var(--logo-black);
  padding: 10px 20px;
  width: 100%;
}
/* CSS for the naviagtion menu */
.navigation-menu {
  position: fixed;
  top: 163px;
  left: 166px;
  z-index: 1000;
  width: 300px;
}

.navigation-menu.fixed-right {
  left: 47.6% !important;
}

.navigation-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.navigation-menu ul a {
  list-style: none;
  text-decoration: none;
}

/* BUTTON ANIMATIONS */
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.active .content-wrapper,
.active .solution-content {
  animation: slideRightToLeft 2s ease forwards;
}
@keyframes slideRightToLeft {
  0% {
    transform: translateX(12%);
  }
  100% {
    transform: translateX(calc(0%));
  }
}
/* =========================================SECTION SLIDER STYLE GOES HERE=========================== */
.heading-orange {
  color: var(--orange);
}

.heading-blue {
  color: var(--logo-blue);
}

.sections-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.section {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrapper {
  width: 100%;
  display: flex;
  height: 100vh;
}

.wrapper__left,
.gm-container__left {
  width: 48.2%;
  height: 100%;
  position: relative;
}
.wrapper__right,
.gm-container__right {
  width: 60%;
  height: 100%;
}

.wrapper__left .content-wrapper {
  padding-left: 162px;
  padding-right: 60px;
  padding-top: 207px;
  padding-bottom: 50px;
}
.section-logo {
  position: absolute;
  top: 65px;
  left: 65px;
  width: 200px;
  height: 54px;
}
.section-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.section-home .img-wrapper {
  background-image: url('./img/hm-slider01.png');
}
.section-solution .wrapper__right {
  background: rgb(19 19 32 / 50%);
}

.section-solution .wrapper__right .content-wrapper {
  padding-left: 61px;
  padding-top: 207px;
  padding-bottom: 50px;
  padding-right: 103px;
}

.section-solution .solution-box {
  color: #ccc;
}

.section-loan .img-wrapper {
  background-image: url('./img/enpoint-slider02.png');
}

.section-solution .wrapper {
  background-image: url('./img/solution-slider03.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.section-resource .img-wrapper {
  background-image: url('./img/resource-slider04.png');
}

.section-team .img-wrapper {
  background-image: url('./img/Team-slider-05.png');
}
.section-team .wrapper__right .content-wrapper {
  padding-left: 123px;
  padding-right: 306px;
  padding-top: 157px;
  padding-bottom: 50px;
}
.img-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.btn-list {
  position: absolute;
  top: 50%;
  right: 60px;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
}

.section {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.active {
  display: flex;
  opacity: 0; /* Start with opacity 0 */
  -webkit-animation: fade 3s linear forwards; /* Use 'forwards' to maintain final state */
  -moz-animation: fade 3s linear forwards;
  -ms-animation: fade 3s linear forwards;
  -o-animation: fade 3s linear forwards;
  animation: fade 3s linear forwards;
}

/* CSS BY JOYNOB */
.slider-heading {
  font-family: var(--Ringside-Compressed);
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
}

.slider-sub-heading {
  font-family: var(--Ringside-Narrow);
  font-size: 42px;
  font-style: italic;
  font-weight: 400;
  line-height: 46px;
}

.slider-content {
  font-family: var(--Ringside-Narrow);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* ========================================================================================================================= */
/* WE WILL DO THAT LATER */
/* New CSS for smaller viewports */
@media screen and (max-width: 740px) {
  .section {
    height: auto;
    display: flex;
    opacity: 1 !important;
    transition: none;
    min-height: 90vh;
  }

  .global-menu {
    display: none;
  }

  .global-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .global-menu li {
    margin: 0 10px;
  }

  .global-menu a {
    color: #333;
  }

  .global-menu a:hover {
    color: #000;
  }

  .active-link a {
    color: red;
  }

  .prev-btn,
  .next-btn {
    display: none;
  }
}
